{{template "base" .}}

{{define "title"}}Home{{ end }}

{{define "main"}}
    <h2>Home</h2>
    <p style="text-align:center;">
        <img src="/static/img/architecture.svg" alt="architecture"/>
    </p>
{{ end }}